parameters:
    url:
        baseCzc: 'https://www.czc.cz'
        searchCzc: 'https://www.czc.cz/%s/hledat'

services:
    Dispatcher: HPT\Dispatcher

    - HPT\Workers\CzcGrabber(%url.baseCzc%, %url.searchCzc%)
    - HPT\Utils\OutputGenerator